@model IEnumerable<Educational_Center.Models.Course>
@{
    ViewData["Title"] = "Courses List";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<h2>Courses List</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.CourseName</td>
                <td>@course.Duration</td>
                <td>@course.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-primary">Edit</a>
                    @if (course.Students == null || !course.Students.Any())
                    {
                        <a asp-action="Delete" asp-route-id="@course.CourseId" class="btn btn-danger">Delete</a>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_@course.CourseId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Associated Students
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_@course.CourseId">
                            @if (course.Students != null && course.Students.Any())
                            {
                                foreach (var student in course.Students)
                                {
                                    <a class="dropdown-item" href="#">@student.FirstName @student.LastName</a>
                                }
                            }
                            else
                            {
                                <span class="dropdown-item text-muted">No associated students</span>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add New Course</a>
