@model IEnumerable<MVC_Book.Models.Book>
<!DOCTYPE html>
<html>
<body>
    <div class="responsive-container-block">
        <p class="text-blk team-head-text">
            Book List
        </p>
        <form asp-action="Search" method="get">
            <div class="form-group">
                <label for="searchName">Search Book by Name:</label>
                <input type="text" id="searchTerm" name="searchName" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        @foreach (var book in Model)
        {
            <p class="text-blk name">
                @Html.DisplayFor(modelItem => book.Title)
            </p>
            <p class="text-blk">
                @Html.DisplayFor(modelItem => book.Year)
            </p>
            <p class="text-blk">
                @Html.DisplayFor(modelItem => book.Author)
            </p>
            <p class="text-blk feature-text">
                Image:
                <img src="@book.CoverImage" alt="Book Image" class="img-thumbnail rounded img-fluid" style="max-width: 150px;">
            </p>
            <a asp-action="Update" asp-route-id="@book.Id" class="btn btn-primary">Update</a>
        }
    </div>
    <a asp-controller="Book" asp-action="Add">Add Book</a>
</body>
</html>